.pdm-media-slider {
  position: relative;
  padding: 1rem 0;
}

.pdm-media-slider-inner {
  display: block;
  white-space: nowrap;
  overflow: hidden;

  &[data-direction="rtl"] {
    direction: rtl;

    > .pdm-media-slider-item {
      margin-left: 1em;
    }
  }

  &[data-direction="ltr"] {
    direction: ltr;

    > .pdm-media-slider-item {
      margin-right: 1em;
    }
  }
}

.pdm-media-slider-item {
  position: relative;
  display: inline-block;
  direction: ltr;
  border-radius: 10%;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;

  &::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: #{attr(data-index)};
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: calc(50% - 1rem);
    border: 2px solid #ececec;
    border-radius: 10%;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    color: #dadada;
  }
}

.pdm-media-slider-nav {
  &_start, &_end {
    display: block;
    position: absolute;
    top: .5em;
    bottom: .5em;
    width: $divider-thickness;
    background-color: lighten($accent-color, 65%);
  }

  &_start[data-direction="ltr"], &_end[data-direction="rtl"]{
    left: 0;

    > .pdm-media-slider-nav_icon > img {
      transform: rotate(90deg);
    }
  }

  &_start[data-direction="rtl"], &_end[data-direction="ltr"]{
    right: 0;

    > .pdm-media-slider-nav_icon > img {
      transform: rotate(-90deg);
    }
  }
}

[class^="pdm-media-slider-nav_icon"] {
  display: block;
  position: relative;
  top: calc(50% - #{$media-nav-width / 2});
  left: $media-nav-width * -.5;
  height: $media-nav-width;
  width: $media-nav-width;
  background-color: white;
  border-radius: 100%;
  font-size: .6rem;
  text-align: center;
  @include elevate-on-hover(.2rem, 0, 0, 1.5rem, 0, $accent-color);

  &::before {
    border-radius: 100%;
  }

  img {
    position: relative;
    top: calc(50% - #{$media-nav-icon-size / 2});
    width: $media-nav-icon-size;
    height: auto;
  }
}