.pdm-media-slider {
  position: relative;
  margin: 0;
  padding: 0;
}

.pdm-media-slider-outer {
  position: relative;
  padding: 1rem 0;
  overflow: hidden;

  &[data-direction="rtl"] {
    direction: rtl;

    .pdm-media-slider-inner .pdm-media-slider-item {
      margin-right: 0;
    }
  }

  &[data-direction="ltr"] {
    direction: ltr;

    .pdm-media-slider-inner .pdm-media-slider-item {
      margin-left: 0;
    }
  }
}

.pdm-media-slider-inner {
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

@mixin by-filetype($type){
  &::after{
    content: '';
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    width: 25%;
    max-width: 1.5rem;
    max-height: 1.5rem;
    min-width: 10px;
    min-height: 10px;
    height: 25%;
    background-size: contain;
    background-image: url("../../assets/images/ic-" + $type + ".png");
  }
}

.pdm-media-slider-item {
  position: relative;
  display: inline-block;
  direction: ltr;
  border-radius: 10%;
  overflow: hidden;
  margin: .5rem;

  &.is-loading::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: #{attr(data-index)};
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: calc(50% - 1rem);
    border: 2px solid #eee;
    border-radius: 10%;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    color: #e6e6e6;
    z-index: -1;
  }

  &[type="image"]{@include by-filetype("image")};
  &[type="video"]{@include by-filetype("video")};
  &[type="audio"]{@include by-filetype("audio")};

  > img {
    width: 100%;
    height: auto;
  }
}

.pdm-media-slider-nav {
  &_start.is-tile, &_end.is-tile {
    display: block;
    position: absolute;
    top: .5em;
    bottom: .5em;
    width: $divider-thickness;
    background-color: lighten($accent-color, 65%);
  }

  &_start[data-direction="ltr"], &_end[data-direction="rtl"]{
    left: 0;

    > .pdm-media-slider-nav_icon > img {
      transform: rotate(90deg);
    }
  }

  &_start[data-direction="rtl"], &_end[data-direction="ltr"]{
    right: 0;

    > .pdm-media-slider-nav_icon > img {
      transform: rotate(-90deg);
    }
  }
}

.pdm-media-slider-nav_icon {
  display: block;
  position: relative;
  top: calc(50% - #{$media-nav-width / 2});
  left: $media-nav-width * -.5;
  height: $media-nav-width;
  width: $media-nav-width;
  padding: .5rem;
  background-color: white;
  border-radius: 100%;
  text-align: center;
  @include elevate-on-hover(.2rem, 0, 0, 1.5rem, 0, $accent-color);

  &::before {
    border-radius: 100%;
  }

  img {
    position: relative;
    top: calc(50% - #{$media-nav-icon-size / 2});
    width: $media-nav-icon-size;
    height: auto;
  }
}